

{% extends 'firmApp/basic.html'%}
{% load static %}
{% block css %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'firmApp/css/auth.css' %}"
    />
<style>
  
</style>
{% endblock %}
{% block body %}

<div class="container my-5">
 
    <div class="row ">
      <h3>why Become Pro</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Harum nam quo alias explicabo praesentium quibusdam fugiat maiores
            voluptate distinctio. Adipisci repellat ratione praesentium quaerat, 
            sunt id inventore at rerum suscipit.</p>
        {% for i in packages %}
        <div class=" col-md-4 col-10 ">
        
            <div class="card " style="width: 18rem; ">
                <div class="card-body ">
                    <div class="justify-content-center align-items-center">
                  <h5 class="card-title">{{i.display_duration}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">${{i.Price}}</h6>
                </div>
                  <ul>
                    <li>{{i.Files_to_download}} can download</li>
                  </ul>
                  <a href="/payment/{{i.slug}}" class="card-link">Get Membership ff</a>
                </div>
              </div>
          </div>
          {% endfor%}
    </div>
</div>
{% endblock %}
