{% extends 'firmApp/basic.html'%}
{% block css %}

<style>
.col-md-8 a{
    text-decoration: none;
    color:black;
}

</style>
 {% endblock %}
{% block body %} 
<h3>BLOG PAGE</h3>
<div class="container">
    <div class="row">
       
        <div class="col-md-8 col-9" >

           

            {% for i in solution %}

            <a href="/postpage/{{i.title}}"><div class="col-md-8"><h3>{{i.title}}</h3></div></a>
            <a href="/postpage/{{i.title}}"><div class="col-md-8"><p>{{i.desc|truncatechars:50 }}</p></div></a>
            <button class="btn btn-sm btn-info "><a  href="/postpage/{{i.title}}">Read more...</a></button>
            <hr width="100%" size="10" />

            {% endfor %}
            
         
        </div>
    </div>
</div>

{% endblock %}
