{% extends 'firmApp/basic.html'%}
{% load static %}
{% block css %}

{% endblock %}
{% block body %}
<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h3 align="center">Payment</h3>
         <button class="mb-3" id="makePayment">make payment</button>
      </div>  <div id="paypal-button-container"></div>

      <!-- Include the PayPal JavaScript SDK -->
      <script src="https://www.paypal.com/sdk/js?client-id=AflzbYELrOEXzekaQhJcj98NjAhTbAFh-DGQliIMpQGLPUcQxyzt2lCkWYLIHMu5mjNm1riM-Xpk2bnx&currency=USD&disable-funding=card"></script>
  
      <script>
        var package = '{{package}}'
       const packageData = JSON.parse(package.replace(/&quot;/g, '"'))
       var resourceFile='{{resourceFile}}';
       const fileData= JSON.parse(resourceFile.replace(/&quot;/g, '"'))
      console.log(packageData)
          // Render the PayPal button into #paypal-button-container
          paypal.Buttons({
  
              // Set up the transaction
              createOrder: function(data, actions) {
                  return actions.order.create({
                      purchase_units: [{
                          amount: {
                              value: 12
                          }
                      }]
                  });
              },
  
              // Finalize the transaction
              onApprove: function(data, actions) {
                  return actions.order.capture().then(function(orderData) {
                      // Successful capture! For demo purposes:
                      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                      var transaction = orderData.purchase_units[0].payments.captures[0];
                      alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                  });
              }
          }).render('#paypal-button-container');
      </script>

    </div>
  </div>

  <script type="text/javascript">
   
     document.getElementById('makePayment').addEventListener('click', function(e) {
        submitFormData();
        
     });

function submitFormData() {
  console.log('Payment button clicked');
  var package = '{{package}}';
  
  if(package){
    
    var url = `/subscription/paymentProcess/${packageData.slug}/`;
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'applicaiton/json'
    }
  })
  .then((response) => response.json())
  .then((data) => {
    console.log('Success:', data);
    alert("payment successful")
    window.location.href = "{% url 'home' %}";
  })
  .catch((error) => {
    console.error('Error:', error);
  });
   
  }else{
    var resourceFile='{{resourceFile}}';
    const fileData= JSON.parse(resourceFile.replace(/&quot;/g, '"'))
    var url = `/subscription/singleFilePaymentProcess/${fileData.id}/`;
    fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'applicaiton/json'
      }
    })
    .then((response) => response.json())
    .then((data) => {
      console.log('Success:', data);
      alert("payment successful")
      window.location.href = `/download/${fileData.slug}`;
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  
}
     
  </script>
  
{% endblock %}




